
{{define "_footer"}}
	<div class="box footer" style="margin: 40px 0 0 0; font-size: 11px; text-align: center;"> 
&copy; 2020 many.pw
<br/>
info@many.pw
<br/>
424-210-7829
</div>
	</div>
</body>
</html>
{{end}}
