{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar">
    </div>
		<div class="box content">
<h1>Feedbacks Admin!</h1>
<br/>
<br/>

<h2>Access things that are global to all your domains.</h2>
<br/>
<br/>


{{template "_footer" .}}
